/* Write your CSS here */
.crypto-bg-container {
  background-color: #000000;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crypto-heading {
  color: #00e7ff;
}

.cryptocurrency-bg-img {
  width: 95vw;
}
